.list__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.list__group li {
    border: 1px solid var(--list-border);
    border-radius: 3px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    flex: 0 0 auto;
    margin-bottom: 14px;
}

.list__group li:last-child {
    margin-right: 0px;
}

.list__group-item:hover {
    transition: 0.2s all ease-in-out;
    background: #0d6efd;
}

.list__group-item--active {
    transition: 0.2s all ease-in-out;
    background: #0d6efd;
}

/*  reset filter  */

.reset__filter {
    padding: 10px;
    background: #c72d3d;

    /* border: 1px solid white; */
    border-radius: 3px;
    transition: 0.1s all ease-in-out;
    color: white;
    flex: 0 0 auto;
    margin-bottom: 14px;
}

.reset__filter:hover {
    background: #a82432;
}

@media (max-width: 530px) {
    .list__group li {
        padding: 6px 7px;
    }
}
